<h1><%= @post.title %></h1>
<p><%= @post.content %></p>
<p><% @post.categories.each do |category| %></p>
  <%= category.name %>
<% end %>


<%= form_for @comment do |f| %>
  <%= f.hidden_field :post_id, value: @comment.post_id%>
  <%= f.label "Content" %>
  <%= f.text_area :content %>
  <%= f.collection_select :user_id, User.all, :id, :username, include_blank: true %>

  <%= f.fields_for :user, @post.users.build do |user| %>
  <%= user.label "Username" %>
  <%= user.text_field :username %>

  <% end %>

  <%= f.submit %>
<% end %>

<% @post.comments.each do |comment| %>
<% if comment.user%>
  <%= "#{comment.user.username.strip} says: #{comment.content}" %>
<% end %>
<% end %>

<% @unique_commenters.each do |user|  %>
  <%= link_to user.username, user_path(user) %>
<% end %>
