<h1><%= @post.title %></h1>
<p><%= @post.content %></p>

<%= form_for @comment do |f| %>
  <%= f.hidden_field :post_id, value: @post.id%>
  <%= f.label "Content" %>
  <%= f.text_area :content %>
  <%= f.collection_select :user_id, User.all, :id, :username, include_blank: "select user" %>

  <%= f.fields_for :user, User.new do |users_fields| %>
  <%= users_fields.text_field :username %>
  <% end %>

  <%= f.submit %>
<% end %>

<% @post.comments.each do |comment| %>
<% if comment.user %>
  <p><%= comment.user.username %>  says: <%= comment.content %></p>
  <%end  %>
<% end %>
