<h1><%= @post.title %></h1>
<p><%= @post.content %></p>
<p><% @post.categories.each do |category| %></p>
  <%= category.name %>
<% end %>


<%= form_for @comment do |f| %>
  <%= f.hidden_field :post_id, value: @comment.post_id%>
  <%= f.label "Content" %>
  <%= f.text_area :content %>
  <%= f.collection_select :user_id, User.all, :id, :username, include_blank: true %>

  <%= f.fields_for :user, @post.users.build do |user| %>
  <%= user.label "Username" %>
  <%= user.text_field :username %>

  <% end %>

  <%= f.submit %>
<% end %>

<% @post.comments.each do |comment| %>
<% if comment.user %>
  <div><%= link_to comment.user.username.strip, user_path(comment.user)%> says:
  <%= comment.content %></div>

<% end %>
<% end  %>
